<button type="button" class="btn btn-default btn-window-close"><i class="fa fa-close"></i></button>
<h4>Управление</h4>
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#admin-invoices" aria-controls="home" role="tab" data-toggle="tab">Платежи</a></li>
        <li role="presentation"><a href="#admin-payouts" aria-controls="profile" role="tab" data-toggle="tab">Выплаты</a></li>
        <li role="presentation"><a href="#admin-users" aria-controls="messages" role="tab" data-toggle="tab">Пользователи</a></li>
        <li role="presentation"><a href="#admin-settings" aria-controls="settings" role="tab" data-toggle="tab">Настройки</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="admin-invoices">
        </div>
        <div role="tabpanel" class="tab-pane" id="admin-payouts">
        </div>
        <div role="tabpanel" class="tab-pane" id="admin-users">
        </div>
        <div role="tabpanel" class="tab-pane" id="admin-settings">
        </div>
    </div>
</div>