<h4>Управление комнатой:<span><%=room.name%></span></h4>
<div class="form-container"></div>
<div class="form-buttons"><button type="button" class="btn btn-danger btn-save-room">Изменить</button></div>