<div class="avatar"></div>
<div class="form-box">
    <form method="post" action="/signup">
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="password" placeholder="Пароль">
        <button class="btn btn-info btn-block login" type="submit">Регистрация</button>
    </form>
    <a class="link-need-login" href="#">Уже есть аккаунт</a>
    <p>Вход через социальные сети</p>
    <div class="btn-group btn-group-xs">
        <a class="btn btn-primary" href="/auth/vkontakte"><i class="fa fa-vk"></i></a>
    </div>
</div>